<!DOCTYPE html>
<html>
<head>
    <title>DetDesignerHome</title>
</head>
<body>
    <h1>Welcome to Diet-Designer</h1>
    <!-- Add any content you want to display on the homepage -->
 <!-- Button to redirect to Meal Planner app -->
    <a href="{% url 'generate_meal_plan' %}">
        <button>GENERATE MEAL PLAN</button>
    </a>
    <a href= "{% url 'register' %}">
        <button>REGISTER</button>
    </a>
    <a href="{% url 'login' %}">
        <button>LOGIN</button>
    </a>
</body>
</html>

