<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
</head>
<body>
    <div>
        <a href="{% url 'login'%}">login</a>
    </div>
    <h1>Product List</h1>
    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>ksh{{ product.price }}</p>
                <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'cart_detail' %}">View Cart</a>
</body>
</html>

