<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>spice&ingredient</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>SPICES AND INGREDIENTS</h1>
    </header>
    <div class="cart-link">
       <form action="{% url 'cart_detail' %}">
                <button type="submit">View Cart</button>
            </form>
      </div>
    <main>
        <div class="product-list">
            {% for product in products %}
                <div class="product-item">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p>ksh{{ product.price }}</p>
                    <form action="{% url 'add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="cart-link">
            <a href="{% url 'cart_detail' %}">View Cart</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Diet Designer. All rights reserved.</p>
    </footer>
</body>
</html>

